.poke-list {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
  &__item {
    list-style-type: none;
  }
}
