.pokemon {
  cursor: pointer;
  padding: 30px;
  width: 250px;
  height: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__content {
    flex: 1;
    width: 100%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 100%;
  }
}
